<h1>Editing article</h1>
<div class="container">
  <%= simple_form_for(@article) do |f| %>
    <div>
      <%= f.input :category %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit %>
    </div>
  <% end %>


  <div>
    <%# <%= link_to "Back to post", @article %>
    <%= link_to "Back to post", article_path(@article), class: "btn btn-primary mt-5" %>
  </div>
</div>
