<div class="container">
<h3>Add new article</h3>
  <%= simple_form_for(@article) do |f| %>
    <div>
      <%= f.input :category, :collection => %w[Clothing Accessories Shoes] %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
