<div class="container">
  <%= simple_form_for(@article) do |f| %>
    <div>
      <%= f.input :category %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
