
    <div class="container mt-5">
      <div class="row justify-content-center ">
        <div class="col-12 col-lg-4 rounded">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% @article.photos.each do |photo| %>
            <div class="carousel-item active">
              <%= cl_image_tag photo.key, height: 300, class:"d-block w-100 h-100"%>
            </div>
            <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>



        <div class="col-12 col-lg-5">
          <div class="p-4 border rounded mb-5 mx-4 shadow-lg p-3 mb-5 bg-white rounded">
              <h2><%= @article.name %></h2>
              <br>
              <p>Price: $ <%= @article.price %></p>
                <br>
              <p>Category:     <%= @article.category %></p>
              <p>Name:         <%= @article.name %></p>
              <p>Description:  <%= @article.description %></p>
                <br>
                <br>
              <button class="btn btn-primary w-100 rounded btn-lg">Book now</button>
              <br>
              <br>
              <button type="button" class="btn btn-outline-primary w-100 rounded btn-lg">Edit</button>
              <br>
                <br>
                <%= link_to "Destroy this article", @article, method: :delete %>
          </div>
        </div>
      </div>
    </div>