<div class="container">
  <h2><strong><%= @article.name %></strong></h2>
  <h5><strong><%= @article.category%></strong></h5>
  <h5>$<%= @article.price %></h5>


  <p><%= @article.description %><p>




   


    <p>
      <strong>Article belongs to:</strong><br>
      <strong>User First Name:</strong> <%= @article.user.first_name %>
      <br>
      <strong>User Last Name:</strong> <%= @article.user.last_name %>
      <br>
      <%= link_to "I want this article", new_article_booking_path(@article) %>
    </p>
</div>

  <% @article.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

<div class="container">
  <%= link_to "Edit this post", edit_article_path(@article) %> |
  <%= link_to "Back to all posts", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
