<h1>Bookings for <%= current_user.first_name %> <%= current_user.last_name %></h1>
<ul>
  <% @bookings.each do |booking| %>
    <li>Booking id: <%= booking.article_id %></li>
    <li>Booking user id: <%= booking.user_id %></li>
    <li>Booking status: <%= booking.status %></li>
    <li>Comment: <%= booking.comment %></li>
  <% end %>
</ul>

<p>Number of requests by other users: <%= current_user.bookings_as_owner.count %></p>
<% current_user.bookings_as_owner.each do |booking| %>
  <p>Booking ID: <%= booking.id %></p>
  <p><strong>Comment: </strong><%= booking.comment %> by
    <% user = User.find_by(id: booking.user_id) %>
    <%= user.first_name %> <%= user.last_name %>
  </p>
  <p><%= link_to "Accept", booking_path(booking, status: "accepted"), data: {turbo_method: :patch}, class: "btn btn-primary" %></p>
  <p><%= simple_form_for(booking) do |f| %>
      <%= f.hidden_field :status, value: "rejected" %>
      <%= f.submit :Decline, class: "btn btn-danger" %>
     <% end %>
  </p>
  <%# <p><%= link_to "Decline", "#", class: "btn btn-danger" %>
<% end %>



<hr>
