<h1>Index of bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li>Booking id: <%= booking.article_id %></li>
    <li>Booking user id: <%= booking.user_id %></li>
    <li>Booking status: <%= booking.status %></li>
    <li>Comment: <%= booking.comment %></li>
  <% end %>
</ul>
<%= current_user.first_name %>
<%= current_user.last_name %>
<p>Number of request by other users: <%= current_user.bookings_as_owner.count %></p>
<% current_user.bookings_as_owner.each do |booking| %>
  <p><%= booking %></p>
  <p><%= booking.comment %></p>
<% end %>
