
<div class="container">


<h2 class="py-3">My requests & Inquiries (<%=current_user.bookings_as_owner.count %>)</h2>

<ul>
  <!-- En tant que locataire -->
  <% @bookings.each do |booking| %>
    <li>Booking article_id: <%= booking.article_id %></li>
    <% article_name = Article.find_by(id: booking.article_id).name %>
    <li>Booking name: <%= article_name %></li>
    <li>Booking id: <%= booking.id %></li>
    <li>Booking user id: <%= booking.user_id %></li>
    <li>Booking status: <%= booking.status %></li>
    <li>Comment: <%= booking.comment %></li>
    <hr>
  <% end %>
</ul>

<!-- Requetes qu'on recoit en tant que proprietaire -->
<h2>Requested articles (clothes) by other users</h2>
<p>Number of requests by other users: <%= current_user.bookings_as_owner.count %></p>
<% current_user.bookings_as_owner.each do |booking| %>
  <p>Booking ID: <%= booking.id %></p>
  <p><strong>Comment: </strong><%= booking.comment %> by
    <em>
      <% user = User.find_by(id: booking.user_id) %>
      <%= user.first_name %> <%= user.last_name %>
    </em>
  </p>

  <%# First method with a link_to for accepting the request %>
  <p><%= link_to "Accept", booking_path(booking, status: "accepted"), data: {turbo_method: :patch}, class: "btn btn-primary" %></p>

  <%# Second method with a simmple_form_for for rejecting the request %>
  <p><%= simple_form_for(booking) do |f| %>
      <%= f.hidden_field :status, value: "rejected" %>
      <%= f.submit :Decline, class: "btn btn-danger" %>
     <% end %>
  </p>
<% end %>
</div>



<div class="container">
<h4>Requests</h4>

<div class="container">
<div class="row">
<div class="strip">
<div class="card mb-3 shadow" >
  <div class="row g-0">
    <div class="col-md-2">

      <img class="photo" src="https://anindigoday.com/wp-content/uploads/2021/03/how-to-condition-a-leather-jacket.webp" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-10 ">
      <div class="card-body d-flex-row">
        <h5 class="card-title">Request - @username</h5>
        <p class="card-text">@Name of article</p>
        <p class="card-text">@comment of article It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
        <button type="button" class="btn btn-success">Accept</button>

        <button type="button" class="btn btn-danger">Decline</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>
<br>
<br>
<br>

<h4>My Inquiries</h4>

<div class="container">
<div class="row">
<div class="strip">
<div class="card mb-3 shadow" >
  <div class="row g-0">
    <div class="col-md-2">
      <img class="photo" src="https://anindigoday.com/wp-content/uploads/2021/03/how-to-condition-a-leather-jacket.webp" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-10 ">
      <div class="card-body d-flex-row">
        <h5 class="card-title">Inquiry - @owner_of article</h5>
        <p class="card-text">@Name of article</p>
        <p class="card-text">@mycomment of article It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
        <p class="card-text"><small class="text-muted">Status: @status </small></p>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>

</div>
