<style>
  .title {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
  }

  .request {
    font-size: 22px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
  }


.img-fluid {
    width: 180px;
    height: 200px;
    object-fit: cover;
    object-position: top;
}
</style>

<div class="container">

  <h2 class="title py-3">Renting requests Send & Received ( <%= current_user.bookings_as_owner.count %> )</h2>

  <!-- En tant que locataire -->


<!-- Requetes qu'on recoit en tant que proprietaire -->
</div>


<div class="container">
  <h4 class="request">Requests Received</h4>
  <% current_user.bookings_as_owner.each do |booking| %>
    <% user = User.find_by(id: booking.user_id) %>
    <% if current_user != user %>
      <div class="container">
        <div class="row">
          <div class="strip">
            <div class="card mb-3 shadow">
              <div class="row g-0">
                <div class="col-md-2">
                  <% if booking.article.photos.attached? %>
                    <%= cl_image_tag booking.article.photos.first.key, class: "img-fluid" %>
                  <% else %>
                    <img class="photo" src="https://anindigoday.com/wp-content/uploads/2021/03/how-to-condition-a-leather-jacket.webp" class="img-fluid rounded-start" alt="...">
                  <% end %>
                </div>
                <div class="col-md-10">
                  <div class="card-body d-flex-row">

                    <h5 class="card-title">Requested by: <em><%= user.first_name %> <%= user.last_name %></em></h5>
                    <p class="card-text"><strong>Article name: </strong> <%= booking.article.name %></p>
                    <p class="card-text"><strong>Messege: </strong> <%= booking.comment %></p>

                    <%= link_to "Accept", booking_path(booking, status: "accepted"), data: {turbo_method: :patch}, class: "btn btn-success" %>
                    <%= link_to "Decline", booking_path(booking, status: "rejected"), data: {turbo_method: :patch}, class: "btn btn-danger" %>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  <% end %>
</div>

<br>
<br>
<br>

<div class="container">
  <h4  class="request">Requests Send</h4>
</div>


<% @bookings.each do |booking| %>
  <% article_name = Article.find_by(id: booking.article_id).name %>

  <div class="container">
    <div class="row">
      <div class="strip">
        <div class="card mb-3 shadow">
          <div class="row g-0">
            <div class="col-md-2">
            <% if booking.article.photos.attached? %>
              <%= cl_image_tag booking.article.photos.first.key, class: "img-fluid" %>
            <% else %>
              <img class="photo" src="https://anindigoday.com/wp-content/uploads/2021/03/how-to-condition-a-leather-jacket.webp" class="img-fluid rounded-start" alt="...">
            <% end %>
            </div>
            <div class="col-md-10">
              <div class="card-body d-flex-row">
                <% article_value = Article.find_by(id: booking.article_id) %>
                <% owner = User.find_by(id: article_value.user_id) %>
                <h5 class="card-title">Request send to: <%= owner.first_name %> <%= owner.last_name %> </h5>
                <p class="card-text"><strong>Article name: </strong><%= booking.article.name %></p>
                <p class="card-text"><strong>Messege: </strong><%= booking.comment %></p>
                <p class="card-text">
                  <small class="text-muted">Status: <%= booking.status %>
                    <% if booking.status == 1 %>
                      <i class="fa-solid fa-check"></i>
                      <i class="fa-regular fa-square-check"></i>
                    <% end %>
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


</div>
