<div class="container mt-4 d-flex align-items-center">
<h2>New Booking</h2>
</div>

<div class="container">
  <div class="row">
    <%= simple_form_for([@article, @booking]) do |f| %>
      <%= f.input :comment %>
      <%# <div class="btn btn-flat d-flex justify-content-center"> %>
        <%= f.submit :Submit, class: "btn btn-flat" %>
        <%# <%= f.submit :Decline, class: "btn btn-danger" %>
      <%# </div> %>
    <% end %>
  </div>
</div>
<%# <%= link_to 'Back', lists_path, class: "btn btn-primary" %>
